// CSS3 FACEBOOK-STYLE BUTTONS (Nicolas Gallagher)
// rewritten in SCSS/Compass by Andrei Stoicescu

@import "compass/css3";
@import "icons/*.png";

.uibutton { 
    position: relative; 
    z-index: 1;
    overflow: visible; 
    display: inline-block; 
    padding: 0.3em 0.6em 0.375em; 
    border: 1px solid #999; 
    border-bottom-color: #888;
    margin: 0;
    text-decoration: none; 
    text-align: center;
    font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    white-space: nowrap;
    cursor: pointer;
    color: #333;
    background-color: #eee;
    @include background-image(linear-gradient(top,#f5f6f6,#e4e4e3));
    @include box-shadow(rgba(0,0,0,0.1) 0 1px 0, #fff 0 1px 0 inset);

    &:hover, &:focus, &:active {
	      border-color: #777 #777 #666;
    }

    &:active {
	      border-color: #aaa;
	      background: #ddd;
	      @include box-shadow(none);
    }
    
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

// ................................................................. Icons
    
    &.icon:before {
        content: "";
        position: relative; 
        top: 1px; 
        float:left;
        width: 10px; 
        height: 12px; 
        margin: 0 0.5em 0 0;
    }
    
    &.edit:before {@include icons-sprite(edit);}
    &.add:before {@include icons-sprite(add);}
    &.secure:before {@include icons-sprite(secure);}
    &.prev:before {@include icons-sprite(prev);}
    &.next, &.dropdown-toggle {
        &:before {
            float: right;
            margin: 0 -0.25em 0 0.5em;
        }
        
        
    }
    &.next:before {
        @include icons-sprite(next);
    }

    &.dropdown-toggle:before {
        @include icons-sprite(drop);
    }

// ................................................................. Large
    &.large {font-size: 13px;}
    
// ................................................................. Submit, etc
    &.confirm {
        border-color: #29447e #29447e #1a356e;
        color: #fff;
        background-color: #5B74A8;
        @include background-image(linear-gradient(top,#637bad,#5872a7));
        @include box-shadow(rgba(0,0,0,0.1) 0 1px 0, #8a9cc2 0 1px 0 inset);
        
        &:active {
            border-color: #29447E;
            background: #4F6AA3;
            @include box-shadow(none);
        }
        
        &.disable {
            color: #fff;
            border-color: #94a2bf;
            background: #adbad4;
        }
    }

// ................................................................ Special
    &.special {
        border-color: #3b6e22 #3b6e22 #2c5115;
        color: #fff;
        background-color: #69a74e;
        @include background-image(linear-gradient(top,#75ae5c,#67a54b));
        @include box-shadow(rgba(0,0,0,0.1) 0 1px 0, #98c286 0 1px 0 inset);
        
        &:active {
            border-color: #3b6e22;
            background: #609946;
            @include box-shadow(none);
        }
        
        &.disable {
            color: #fff;
            border-color: #9db791;
            background: #b4d3a7;
        }
    }
    
    &.disable {
        z-index: 0;
        border-color: #c8c8c8;
        color: #b8b8b8;
        background: #f2f2f2;
        cursor: default;
        @include box-shadow(none);
        
        &.icon:before, &.icon:after {opacity: 0.5;}
    }
    
}

.uibutton + .uibutton,
.uibutton + .uibutton-group,
.uibutton-group + .uibutton,
.uibutton-group + .uibutton-group {
    margin-left: 3px;
}

// ----------------------------------------------------------- BUTTON GROUPS
.uibutton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        float: left;
        padding: 0;
        margin: 0;
    }
    
    .uibutton {
        float: left;
        margin-left: -1px;
        
        &:hover, &:focus, &:active {z-index:2;}
    }
    
    > .uibutton:first-child, li:first-child .uibutton {margin-left: 0;}
}

// --------------------------------------------------------- BUTTON CONTAINER
// For mixing buttons and button groups, e.g., in a navigation bar 
.uibutton-toolbar {
    padding: 6px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
    
    .uibutton, .uibutton-group {vertical-align: bottom;}
}

// -------------------------------------------------------- Dropdowns
.uibutton-drop {

    .open .menu-dropdown {
        display: block;
    }
    
    .menu-dropdown {
        display: none;
        border: 1px solid #293E6A;
        background-clip: padding-box;
        background-color: #FFFFFF;
        float: left;
        top: 22px;
        padding: 6px 0;
        left: -1px;
        margin-left: 0;
        margin-right: 0;
        max-width: 220px;
        min-width: 160px;
        position: absolute;
        z-index: 900;
        
        a {
            color: #111;
            text-decoration: none;
            font: 12px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        }
        
        .divider {
            border-bottom: 1px solid #DDDDDD;
            margin: 5px 0;
            padding-top: 1px;
        }
        
        
        li {
            width: 100%;
            
            > a {
                padding: 6px;
                padding-left: 15px;
                
                
                display: block;
                
                &:hover {
                    color: #fff;
                    background: #6D84B4;
                }
            }
        }
    }
    
    .dropdown {
        position: relative;
    
        &.open > a {
            background: #6D84B4;
            color: #fff;
            @include box-shadow(none);
        }
    }
}

