$blueprint_grid_columns: 15;
$blueprint_grid_width: 40px;

@import "blueprint";
@import "compass/css3";
@import "compass/reset";

body {
    background: #F9FBFC;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

.one-col {
    @include container;
    
    .header, .footer {
        padding: 20px 0 0;
        text-align: center;
        @include column(15);
    }
    
    .content {
        @include column(15); 
    }
    
    .footer {
        padding: 20px 0;
    }
}

.example {
    padding: 15px 0px 0;
}

.section {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    @include border-radius(4px,4px);
    margin-top: 20px;
    
    .note {
        padding-top: 10px;
        font-size: 12px;
        color: #999;
    }
}
