/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.uibutton, .uibutton-group {
  zoom: 1;
  *display: inline;
}

.uibutton {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF5F6F6', endColorstr='#FFE4E4E3');
}
.uibutton.confirm {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF637BAD', endColorstr='#FF5872A7');
}
.uibutton.special {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF75AE5C', endColorstr='#FF67A54B');
}

.uibutton-drop .dropdown.open .uibutton {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6D84B4', endColorstr='#FF6D84B4');
}
